node_modules/
dist/
release/
out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

*.blockmap
*.p12
*.pem
*.key
*.crt
